@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  text-align: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}